.fadeIn{
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {opacity: 0%}
    to {opacity: 100%}
}



.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: fadeIn 2s ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: fadeIn 2s ease-in;
  }